<div class="mobile-menu"> 
    <div class="container">
    <a class="mobile-menu-logo">
    <svg class="menu-logo-icon" width="63" height="36">
        <use href="/img/icons.svg#icon-logo"></use>
    </svg>
    </a>
    <button type="button" class="mobile-menu-close">
        <svg class="close-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-close"></use>
        </svg>
    </button>
    <nav class="mobile-navigation">
        <ul class="mobile-menu-list">
            <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="">About us</a>
            </li>
            <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="">Benefits</a>
            </li>
            <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="">Gallery</a>
            </li>
            <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="">Testimonial</a>
            </li>
            <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="">Location</a>
            </li>
        </ul>
    </nav>
    </div>
</div>