.container {
  min-width: 320px;
  max-width: 343px;
  margin: 0 auto;
  padding: 0 16px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1168px;
  }
}