.mobile-menu {
    position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        height: 100%;
        padding-top: 18px;
        padding-bottom: 60px;
        background-color: #e0cbb4;
        transform: translateX(100%);
        transition: transform 0.3s;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
}

.mobile-menu.is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-logo {
    position: absolute;
    display: flex;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    top: 18px;
    left: 16px;
    padding: 0;
}

.mobile-menu-close {
    position: absolute;
    background-color: transparent;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    border: none;
    top: 24px;
    right: 28px;
    padding: 0;
}

.close-icon {
    fill: #0b0803;
}

.mobile-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 72px 0;
    gap: 32px;
}

.mobile-menu-item {}

.mobile-menu-link {
    font-size: 16px;
    line-height: 150%;
    color: #0b0803;
}

@media screen and (min-width:768px) {
    .mobile-menu {
        display: none;
    }
}

@media screen and (min-width:1440px) {
    .mobile-menu {
            display: none;
        }
}