.section-quality {
    padding: 64px 0;
}

.quality-name {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-bottom: 16px;
}

.quality-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 24px;
}

.quality-text {
    text-align: center;
    margin-bottom: 32px;
}

.quality-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}

.quality-item {
    width: 100%;
}

.quality-item-img {
    border-radius: 32px;
    margin-bottom: 32px;
}

.quality-item-title {}